.heading{
    font-size: 23px;
    width: 100%;
    margin: 1px;
    box-shadow: 5px 5px 5px purple;
}
.NOTE{
    font-size: 15px;
    color: fuchsia;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    color: turquoise;
    width: 100%;
    background-color: lavender;
    line-height: 3;
   text-align: center;
}
canvas{
    border-style:ridge;
    border: 5px;
    border-color: green;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkgreen; 
}